:root {
  --main-white: #ffffff;
  --main-black: #000000;

  --main-blue-dark: #1a1f26;
  
  --main-green: #4e6b31;
  --main-green-dark: #37432c;
  --main-green-bluish: #6dbea1;

  --links-green-light: #c1c8b0;
}