h1, h2, h3 {
  margin-block: 2rem;
  color: var(--main-green-dark);
}

section {
  margin-bottom: 3rem;
  padding: 0 2rem;
}

section p {
  text-align: justify;
}

section ul li {
  list-style: inside;
  padding-block: .5rem
}

strong {
  color: var(--main-green-dark);
}

a {
  color: black;
  text-decoration: none;
}