footer {
  margin-top: 3rem;
  height: 7rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  
  color: var(--main-green-light);
  background-color: var(--main-blue-dark);
}

footer a {
  color: var(--main-green-light);
  transition: .3s;
}

footer a:hover {
  color: var(--main-green-bluish);
}