.hero {
  padding: 2rem;

  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  height: calc(70vh - 7rem);
  max-height: 40rem;

  color: var(--main-white);
  background-blend-mode: color;
  background: rgba(0, 0, 0, 0.7) url(../../image/hero-1.jpg) no-repeat center center/cover;
}

.hero h1 {
  color: var(--main-green-bluish);
  letter-spacing: .3rem;
  margin: 0;
}

.hero p {
  margin-top: 1rem;
  letter-spacing: .3rem;
  text-align: center;
}

details {
  margin: 1rem 0;
  color: var(--main-green-dark);
}

.requeriments a:hover {
  text-decoration: underline;
}

.background {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  height: 10vh;
}

.social-link {
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
  border:  0px solid;
  outline: 2px solid;
  outline-color: black;
  outline-offset: 0px;
  text-shadow: none;
  cursor: pointer;
  width: 100%;
  letter-spacing: 0.3rem;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  max-width: 25rem;
  transition: all .3s cubic-bezier(.36, .63, .5, .73);
}

.social-link:hover {
  border: 2px solid var(--main-green-bluish);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  color: var(--main-green-bluish);
}

@media (min-width: 768px) {
  .hero {
    margin: 2rem;
    border-radius: .4rem;
  }
}