.related-issues {
  padding-inline: 2rem;
  margin: 3rem 0;
}

.related-issues {
  text-align: center;
}

.related-issues h3 {
  color: var(--main-green-dark);
}

.related-issues a {
  display: block;
  margin-block: 1rem;
  font-weight: 600;
  transition: color .3s;
}

.related-issues a:hover {
  color: var(--main-green);
  text-decoration: underline;
}


.related-issues_card {
  text-align: justify;
  padding: 1rem;
  margin-block: 1rem;
}

.related-issues_card a {
  margin: 0;
}

.related-issues_card p {
  font-size: 1.4rem;
}